* {
  font-family: 'Montserrat', sans-serif;
  --theme-color: #003D7A;
  --gradient-color: #0058b0;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  width: 100%;
}
#toggle-sidebar-button {
  transition: none;
}
#toggle-sidebar-button:hover {
  transform: none;
}
.toast {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.toast.show {
  opacity: 1;
}
#discriminator {
  color: rgb(156 163 175);
}
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.content {
  padding: 0.75rem 1.25rem;
  background-color: rgb(241, 245, 249);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
}
.grid > .content {
  margin-bottom: 0 !important;
}
#content-container > div > .grid {
  margin-bottom: 1.25rem;
}
.content > h1 {
  color: var(--theme-color);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}
.content > h2 {
  color: #000;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.page-visible {
  display: inline-block !important;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1 !important;
}
button {
  transform: translateY(0);
  transition: transform 200ms ease-in-out;
}
button:not(.accordion-button):not([disabled]):hover {
  transform: translateY(-0.125rem);
}
.bg-shape {
  background-color: var(--gradient-color);
}
.theme-color {
  color: var(--theme-color);
}
img {
  max-width: 768px;
}
.custom-shape-divider {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider svg {
  position: relative;
  display: block;
  width: calc(228% + 1.3px);
  height: 200px;
}
.custom-shape-divider .shape-fill {
  fill: var(--gradient-color);
}
.custom-shape-divider-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-2 svg {
  position: relative;
  display: block;
  width: calc(228% + 1.3px);
  height: 200px;
}

.custom-shape-divider-2 .shape-fill {
  fill: var(--gradient-color);
}
.spacer.r16 {
  height: 64px;
}
.spacer.p200 {
  height: 200px;
}
.spacer.p300 {
  height: 300px;
}
.spacer.p400 {
  height: 400px;
}
.spacer.p500 {
  height: 500px;
}
.flex-wrap-i {
  flex-wrap: wrap !important;
}
.transition-on-load {
  opacity: 0;
  transform: translateY(50px);
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.visible {
  opacity: 1;
  transform: translateY(0);
}
.bg-main {
  background-color: rgb(48, 52, 54);
}
.gradient {
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
span.text-bright-magenta {
  background-image: linear-gradient(135deg, rgba(226,0,223,0.5) 0%, rgba(226,0,223,1) 100%);
}
span.text-bright-cyan {
  background-image: linear-gradient(135deg, rgba(77,149,244,1) 0%, rgba(0,226,255,1) 100%);;
}
span.bg-text-gradient-logo {
  background-image: linear-gradient(135deg, rgba(226,0,223,1) 0%, rgba(0,226,255,1) 100%);
}
span.bg-text-gradient-title {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.feature-text::after {
  color: black;
  opacity: 1;
  transition: opacity ease-in-out 500ms;
  content: 'Features';
}
#stats-container {
  background-color: var(--gradient-color);
}
#feature-container:hover .feature-text::after {
  opacity: 0;
}
.feature-text::before {
  content: 'Features';
  position: absolute;
  z-index: 100;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  opacity: 0;
  transition: opacity ease-in-out 500ms;
}
#feature-container:hover .feature-text::before {
  opacity: 1;
}
.btn {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
}
.bg-lime {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
#stats > div {
  padding: 1rem 1.5rem;
}
#stats > div:nth-child(1) {
  background-image: linear-gradient(270deg, rgb(40, 127, 156, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}
#stats > div:nth-child(2) {
  background-image: linear-gradient(90deg, rgb(40, 127, 156, 0.5) 0%, rgb(40, 127, 156, 0.5) 100%);
}
#stats > div:nth-child(3) {
  background-image: linear-gradient(90deg, rgb(40, 127, 156, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}
#stats > div > h1 {
  color: #f5f5f4;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}
#stats > div > p {
  color: #f3e8ff;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
@media(max-width: 768px) {
  #stats > div {
    background-color: rgb(40, 127, 156, 0.25);
    background-image: none !important;
  }
}
#feature-list > div {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: #e5e7eb
}
#feature-list > div > h1 {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}
#feature-list > div > p {
  color: #4b5563;
  font-size: 1.15rem;
  line-height: 1.5rem;
}
/* #navbar-dropdown:focus > #navbar-dropdown-icon {
    display: none;
}
#navbar-dropdown:not(:focus) > #navbar-dropdown-icon-focus {
    display: none;
}
#navbar-dropdown:focus + div {
    display: block;
}
#navbar-dropdown + div:hover {
    display: block;
} */
body {
  background-color: #e5e7eb;
}
#footer {
  display: inline-block !important;
  width: calc(100vw - 15rem);
}
@media(max-width: 640px) {
  #footer {
    width: 100vw !important;
  }
}
.d-flex-col {
  display: flex;
  flex-flow: column;
}
.d-flex-row {
  display: flex;
  flex-flow: row;
}
.flex-1-1 {
  flex: 10 10 0;
}
.div-loading {
  background-color: rgb(191 219 254 / 0.75);
  border-radius: 0.5rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.text-loading {
  background-color: rgb(191 219 254 / 0.75);
  border-radius: 0.5rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  width: 100%;
  height: 1rem;
}
.link {
  text-decoration-line: underline;
  color: rgb(59 130 246);
}
.link:hover {
  color: rgb(29 78 216);
}
code {
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.15);
  color: var(--theme-color);
  padding: 0.15rem 0.25rem;
}
.list-item {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  display: flex;
}
.list-item > p {
  font-weight: 500;
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgb(203 213 225 / 0.5);
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  flex: 0 1 auto;
  width: 3rem;
}
.list-item > div {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  flex: 1 1 0;
}
.max-h-120 {
  max-height: 30rem;
}
#page-home-quickstart > li {
  margin-bottom: 0.25rem;
}
#sidebar-placeholder {
  width: 15rem;
  transition: width ease-in-out 500ms;
}
#sidebar-placeholder.closed {
  width: 0;
}
#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(0);
  opacity: 1;
  transition: transform ease-in-out 500ms, opacity ease-in-out 250ms;
}
@media(min-width: 640px) {
  #sidebar.closed {
    transform: translateX(-15rem);
  }
}
@media(max-width: 640px) {
  #sidebar.closed {
    transform: translateX(-100vw);
  }
}
#sidebar.closed {
  opacity: 0;
}
#container {
  flex: 1 1 0;
  display: flex;
  flex-flow: column;
}
.hover-cursor:hover {
  cursor: pointer;
}
.sidebar-item {
  padding: 0.6rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  user-select: none;
  transition: background-color ease-in-out 250ms;
}
.sidebar-item:hover {
  cursor: pointer;
  background-color: rgb(219, 234, 254);
}
.sidebar-item.active {
  background-color: rgb(219, 234, 254);
}
.sidebar-item.active:hover {
  cursor: default;
}
.sidebar-item > * {
  display: inline;
}
.sidebar-item > svg {
  transform: translateY(-0.125rem);
}
.bg-blue-sidebar {
  background-color: #f6f8fa;
}
#modal {
  opacity: 0;
  transition: opacity 300ms ease-in-out, background-color 300ms ease-in-out;
  background-color: rgba(31, 41, 55, 0.5);
}
#modal.visible {
  opacity: 1;
}
#modal-container {
  transform: translateY(-20vh);
  transition: transform ease-in-out 300ms;
}
#modal.visible > #modal-container {
  transform: translateY(0);
}

.discord-embed-container {
  background-color: #363940;
  border-radius: 0.375rem;
}
.discord-embed-preview {
  border-radius: 4px;
  padding: 0.5rem 1rem 1rem 0.75rem;
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: hsl(207, 13%, 13.5%);
  width: max-content;
  background-color: #2f3136;
}
.discord-embed-preview > * {
  margin-top: 8px;
}
.discord-embed-site-name {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: #dcddde;
}
.discord-embed-site-title {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: hsl(197, 100%, 47.8%);
}
.discord-embed-site-title:hover {
  text-decoration: underline;
}
.discord-embed-site-description {
  color: #dcddde;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
}